<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <!--Navbar-->
    <nav>
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
            <li class="items"><a href="/logout">Logout</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <div class="about-section">
        <div class="inner-container">
            <img src="/images/MPAC.png" alt="logo">
            <h1>About Us</h1>
            <p class="text">
                MPAC is a website that allows students pursuing Engineering to buy and sell pre-owned student accessories.
                This website provides provision to buy and sell used books, workshop tools, calculators and similar accessories.
                Most of the students are unaware of the methods to purchase student accessories that may be usefull to them for a short span. 
                So instead of purchasing a new product at a higher price this website allows the users to purchase the same product with neccessary quality at a more reasonable price.
                Similarly in the case of students who like to sell their used accessories which may no longer serve much purpose to them. This is website can be used as platform to find suitable buyers.  
            </p>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>