<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <!--Navbar-->
    <nav>
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
            <li class="items"><a href="/logout">Logout</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="/images/WhatsApp Image 2020-11-06 at 4.15.34 PM.jpeg" alt="Team_image">
            </div>
            <h3>Adwaith Samod T</h3>
            <p class="role">FrontEnd Developer</p>
            <p>A computer science undergraduate currently studying at Mar Athanasius College of Engineering Kothamangalam. Interested in developing Front End of websites.</p>
            <div class="non"><span>
              <i class="nonicons fa fa-phone"></i>
              +91 6235040506
              </span><br>
              <span> <i class="nonicons fa fa-envelope"></i>
              adwaithsamod@gmail.com
                </span></div>
          <div class="social">
            <a href="https://www.instagram.com/adwaithsamod"><i class="insta fa fa-instagram"></i></a>
            <a href="https://github.com/adwaithsamod"><i class="github fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/adwaith-samod-t-b5707a1bb"><i class="linkedin fa fa-linkedin" aria-hidden="true"></i></a>
            <a href=""><i class="twitter fa fa-twitter" aria-hidden="true"></i></a>
          </div></div>
        
          <div class="team_member">
            <div class="team_img">
              <img src="/images/Stevin Prince-02.jpeg.jpg" alt="Team_image">
            </div>
            <h3>Stevin Prince</h3>
            <p class="role">BackEnd Developer</p>
            <p>CSE Junior at Mar Athanasius College of Engineering, Kothamangalam and Web development enthusiast who wants to learn a lot about the widespread opportunities in the world of coding.</p>
            <div class="non"><span>
              <i class="nonicons fa fa-phone"></i>
              +91 8714347641
              </span><br>
              <span> <i class="nonicons fa fa-envelope"></i>
              stevinprince29@gmail.com
                </span></div>
           <div class="social">
            <a href="https://www.instagram.com/kemosabe_2911/"><i class="insta fa fa-instagram"></i></a>
            <a href="https://github.com/Kemosabe2911"><i class="github fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/stevin-prince-b07092183/"><i class="linkedin fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://twitter.com/prince_stevin"><i class="twitter fa fa-twitter" aria-hidden="true"></i></a>
          </div></div>
            <div class="team_member">
            <div class="team_img">
              <img src="/images/WhatsApp Image 2020-10-22 at 4.46.18 PM.jpeg" alt="Team_image">
            </div>
            <h3>Thejus T</h3>
            <p class="role">UI DEVELOPER</p>
            <p>Computer Science undergraduate currently student at Mar Athanasius college of Engineering, Kothamangalam. Interested in developing UI for websites</p>
            <div class="non"><span>
              <i class="nonicons fa fa-phone"></i>
              +91 8129262090
              </span><br>
              <span> <i class="nonicons fa fa-envelope"></i>
              thejusofficial11@gmail.com
                </span></div>
                <div class="social">
                <a href="https://instagram.com/the_jus.t?igshid=a6us566sn2wj"><i class="insta fa fa-instagram"></i></a>
                <a href="https://github.com/the-jus"><i class="github fa fa-github" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/thejus-t-0924631b3"><i class="linkedin fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://twitter.com/_Thejus_T?s=08"><i class="twitter fa fa-twitter" aria-hidden="true"></i></a>
              </div>
          </div></div>
        </div>
      </div>	
    <script src="/js/main.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>