<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <section id="dashboard">
    <!--Navbar-->
    <nav id="navbar">
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
            <li class="items"><a href="/logout">Logout</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    
    <!--User Info-->
    <section id="user-info">
        <div class="container">
            <div class="user-profile">
                <img src="https://img.icons8.com/office/80/000000/user.png"/>
                <!--<img src="https://img.icons8.com/ios-glyphs/100/000000/user-male-circle.png"/>-->
            </div>
            <div class="user-data">
                <div class="u-items">
                    <h2>Name</h2>
                    <h2>Email Id</h2>
                    <h2>Phone No</h2>
                </div>
                <div class="u-data">
                    <h2><%= name %></h2>
                    <h2><%= email %></h2>
                    <h2><%= phno %></h2>
                </div>
            </div>
        </div>
    </section>

    <div class="arrow-container">
        <div class="content">
            <h3>View Details Below</h3>
          <svg id="more-arrows">
            <polygon id="arrow" class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
          </svg>
        </div>
      </div>
    </section>
    <section id="dash-info">
    <div class="dash-container">
        <div class="dash-item item1">
            <img src="../home-page/images/kimberly-farmer-lUaaKCUANVI-unsplash.jpg" alt="image">
            <div class="dash-text">
                <div class="dash-text-content">
                    <h2>My Products</h2>
                    <p>View, Remove or Edit your products which has been placed for sale</p>
                </div>
                <a href="/my-prod">View My Products</a>
            </div>
        </div>
        <div class="dash-item item2">
            <img src="../home-page/images/annie-spratt-gl7joOaABlI-unsplash.jpg" alt="image">
            <div class="dash-text">
                <div class="dash-text-content">
                    <h2>My Requests</h2>
                    <p>View or Cancel all of your requests & See if any of the products are available</p>
                </div>
                <a href="/my-req">View My Requests</a>
            </div>
        </div>
        <div class="dash-item item3">
            <img src="../home-page/images/alfred-kenneally-2xR_6LHrqX4-unsplash.jpg" alt="image">
            <div class="dash-text">
                <div class="dash-text-content">
                    <h2>My Cart</h2>
                    <p>Products in your cart is waiting for you. Grab the products as soon as possible</p>
                </div>
                <a href="/my-cart">View My Cart</a>
            </div>
        </div>
    </div>
    </section>
    
    
    

    <script src="/js/main.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>
