<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--AOS cdn-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <section id="dashboard">
    <!--Navbar-->
    <nav id="navbar">
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
            <li class="items"><a href="/logout">Logout</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    
    <!--User Info-->
    <section id="user-info">
        <div class="container">
            <div class="user-profile">
                <img src="https://img.icons8.com/office/80/000000/user.png"/>
                <!--<img src="https://img.icons8.com/ios-glyphs/100/000000/user-male-circle.png"/>-->
            </div>
            <div class="user-data">
                <div class="u-items">
                    <h2>Name</h2>
                    <h2>Email Id</h2>
                    <h2>Phone No</h2>
                </div>
                <div class="u-data">
                    <h2><%= name %></h2>
                    <h2><%= email %></h2>
                    <h2>+91 <%= phno %></h2>
                </div>
            </div>
        </div>
    </section>

    <div class="arrow-container">
        <div class="content">
            <h3>View Details Below</h3>
          <svg id="more-arrows">
            <polygon id="arrow" class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
          </svg>
        </div>
      </div>
    </section>
    <section id="dash-info">
    <div data-aos="fade-left" data-aos-delay="250">
    <div class="dash-container">
        <div class="dash-item item1">
            <img src="/images/kimberly-farmer-lUaaKCUANVI-unsplash.jpg" alt="image">
            <div class="dash-text">
                <div class="dash-text-content">
                    <h2>My Products</h2>
                    <p>View, Remove or Edit your products which has been placed for sale</p>
                </div>
                <a href="/my-prod">View My Products</a>
            </div>
        </div>
        <div class="dash-item item2">
            <img src="/images/annie-spratt-gl7joOaABlI-unsplash.jpg" alt="image">
            <div class="dash-text">
                <div class="dash-text-content">
                    <h2>My Requests</h2>
                    <p>View or Cancel all of your requests & See if any of the products are available</p>
                </div>
                <a href="/my-req">View My Requests</a>
            </div>
        </div>
        <div class="dash-item item3">
            <img src="/images/alfred-kenneally-2xR_6LHrqX4-unsplash.jpg" alt="image">
            <div class="dash-text">
                <div class="dash-text-content">
                    <h2>My Cart</h2>
                    <p>Products in your cart is waiting for you. Grab the products as soon as possible</p>
                </div>
                <a href="/my-cart">View My Cart</a>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- FOOTER -->
    <footer class="myfooter">
        <div class="full">
            <div class="footer-left">
                <p class="footerMPAC"><span>MPAC</span>
                MPAC is a website for students of Mar Athanasius college of engineering where they can buy and sell preused student accessories at a reasonable price.</p>
                <div class="footersocial">
                    <a href=""><i class="fb fa fa-facebook"> </i></a>
                    <a href=""><i class="fa fa-instagram"> </i></a>
                    <a href=""><i class="fa fa-twitter"> </i></a>
                    <a href="https://github.com/Kemosabe2911/MPAC"><i class="fa fa-github"> </i></a>
                </div>
            </div>
            <div class="footer-center">
               <div class="top">
                    <a href="#dashboard"><i class="fa fa-arrow-up" aria-hidden="true">Back to Top</i></a>
                </div>
                <div class="footerlinks">
                    <a class="link1" href="/home">Home</a>
                    <a class="link2" href="/about">About Us</a>
                    <a class="link3" href="/contact">Contact Us</a>
                </div><br>
                <!-- <div class="name">
                    <p>MPAC@2020</p>
                </div> -->
            </div>
            <div class="footer-right">
                <div class="loc">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>MACE Kothamangalam, Kerala</p>
                </div><br>
                <div class="phone"><i class="fas fa-phone"></i>
                    <p>+91 6235040506</p>
                </div><br>
                <div class="mail"><i class="fas fa-envelope"></i>
                    <p><a href="mailto:mpac2022@gmail.com">mpac2022@gmail.com</a></p>
                </div>
            </div>
           
        </div>
        <br>
        <div class="copy">
        <p>Copyright &copy; MPAC2020</p>
    </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
        

        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
      </script>
    
    

    <script src="/js/main.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>
