<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <!--Navbar-->
    <nav>
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="#">About Us..</a></li>
            <li class="items"><a href="#">Contact Us</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>

    <!--User Info-->
    <section id="user-info">
        <div class="container">
            <div class="u-items">
                <h2>Name:</h2>
                <h2>Email Id:</h2>
                <h2>Phone No:</h2>
            </div>
            <div class="u-data">
                <h2><%= name %></h2>
                <h2><%= email %></h2>
                <h2><%= phno %></h2>
            </div>
        </div>
    </section>

    <script src="/js/main.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>
