<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Animate CSS-->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
    <!--Navbar-->
    <nav>
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
            <li class="items"><a href="/logout">Logout</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>

    <!--Showcase-->
    <section id="showcase">
        <div class="container">
            <h1 class="animate__animated animate__bounce">Welcome <%= user %></h1>
        </div>
    </section>

    <!--Tiles Section-->
    <section id="tiles">
        <div class="container animate__animated animate__bounceInLeft">
            <div id="buy" class="btile">
                <h2>Buy</h2>
                <img src="https://img.icons8.com/android/96/000000/buy.png"/>
                <!--<i class="fas fa-shopping-cart"></i>-->
            </div>
            <div id="sell" class="stile">
                <h2>Sell</h2>
                <img src="https://img.icons8.com/android/96/000000/sell.png"/>
                <!--<i class="fas fa-clipboard-check"></i>-->
            </div>
        </div>
    </section>

    <script src="/js/main.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Welcome <%= user %></h2>
    <a href="/logout">Logout</a>
</body>
</html>-->