<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
</head>
<body>
    <div class="container">
        <div class="prod-card">
            <div class="text">
                <h2>Book Name</h2>
                <img src="../home-page/images/dp-home-img1.jpg">
                <p>Author</p>
                <p>Pages</p>
                <p>Price</p>
            </div>
            <div class="btns">
                <input type="submit" class="purchase" name="purchase-book" value="Purchase">
                <input type="submit" class="cart" name="book-cart" value="Add to Cart">
            </div>
        </div>
    </div>    
</body>
</html>