<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="form.css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

</head>
<body>

    <!--Home Section-->
    <section id="home-form">
        <!--Navbar-->
        <nav id="navbar">
            <ul>
                <li class="logo">MPAC</li>
                <li class="items"><a href="/home">Home</a></li>
                <li class="items"><a href="/dashboard">Dashboard</a></li>
                <li class="items"><a href="/about">About Us..</a></li>
                <li class="items"><a href="/contact">Contact Us</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <form action="/sell-y3-ee" method="POST" enctype="multipart/form-data">
            <div id="form-body">
                <h1>Third year EE Textbook</h1>
                <div class="book-name">
                    Book Name <input type="text" class="input-box" name="bname" id="bname" value="<%= typeof bname != 'undefined' ? bname : ''%>" required="" />
                </div>
                <div class="book-author">
                    Author <input type="text"  class="input-box" name="author" id="author" value="<%= typeof author != 'undefined' ? author : ''%>" required="" />
                </div>
                <div class="book-subject">
                    Subject <br>
                    <SELECT id="subject" name="selectpicker" class="input-box" maxlength=12>
                        <option name="NONE" selected >--NONE--
                            <option name="Power Generation, Transmission and Protection " >Power Generation, Transmission and Protection (EE301)
                            <option name="Linear Control Systems ">Linear Control Systems(EE303) 
                            <option name="Power Electronics ">Power Electronics(EE305)
                            <option name="Signals and Systems">Signals and Systems(EE307) 
                            <option name="Microprocessor and Embedded Systems">Microprocessor and Embedded Systems(EE309) 	
                            <option name="Electromagnetics ">Electromagnetics(EE302)	
                            <option name="Advanced Control Theory ">Advanced Control Theory (EE304)
                            <option name="Power System Analysis ">Power System Analysis(EE306)
                            <option name="Electric Drives">Electric Drives(EE308) 
                            <option name="Principles of Management">Principles of Management (HS300)
                    </SELECT>
                </div>
                <div class="book-pages">
                    Pages <input type="number"  class="input-box" name="pages" id="pages" value="<%= typeof pages != 'undefined' ? pages : ''%>" required="" />
                </div>
                <div class="book-price">
                    Expected Price <input type="number"  class="input-box" name="price" id="price" value="<%= typeof price != 'undefined' ? price : ''%>" required="" />
                </div>
                <div class="input-file">
                    <!-- actual upload which is hidden -->
                    <input type="file" id="pImage" name="pImage" hidden/>

                    <!-- our custom upload button -->
                    <label class="choose" for="pImage">Choose Image</label>

                    <!-- name of file chosen 
                    <span id="file-chosen">No Image chosen</span>-->
                  
                </div>
                <!--
                <div class="input-group mb-3">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="pImage" name="pImage" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>-->
                <div class="submit-div">
                    <div class="submit">
                        <button class="sub-button" type="submit">Submit</button>
                    </div>
                    
                </div>
                
            </div>
        </form>
    </section>
    <script src="/js/main.js"></script>
    <script src='/js/jquery.js'></script>

    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    -->
</body> 