<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="sell-style.css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    
    <!--Entire Section-->
    <section id="mysection">
        <!--Top-->
        <section id="top">
            <!--To return Home-->
        </section>
        <!--Navbar-->
        <nav id="navbar">
            <ul>
                <li class="logo">MPAC</li>
                <li class="items"><a href="#">Home</a></li>
                <li class="items"><a href="#">Dashboard</a></li>
                <li class="items"><a href="#">About Us..</a></li>
                <li class="items"><a href="#">Contact Us</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>

        <!--Tiles Section-->
        <section id="tiles-sell">
            <div class="container">
                <div class="set">
                    <div id="books" class="tile">
                        <h2>Textbooks</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/saving-book.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="tools" class="tile">
                        <h2>Tools</h2>
                        <img src="https://img.icons8.com/dotty/80/000000/full-tool-storage-box-.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="calcs" class="tile">
                        <h2>Calculators</h2>
                        <img src="https://img.icons8.com/dotty/80/000000/calculator.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="extras" class="tile">
                        <h2>Extras</h2>
                        <img src="https://img.icons8.com/wired/80/000000/extra-features.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                </div>
            </div>
        </section>

        <!--Books Sell Section-->
        <section id="books-sell">
            <div class="container">
                <div class="set">
                    <div id="year1" class="tile">
                        <h2>First year</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/1-c.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="year2" class="tile">
                        <h2>Second year</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/2-c.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="year3" class="tile">
                        <h2>Third Year</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/3.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="year4" class="tile">
                        <h2>Fourth Year</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/4-c.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div class="set">
                        <div id="home-btn0" class="tile htile">
                            <h2>Top</h2>
                            <!--<img src="https://img.icons8.com/carbon-copy/100/000000/apple-home.png"/>-->
                            <img src="https://img.icons8.com/carbon-copy/100/000000/circled-chevron-left.png"/>
                            <!--<i class="fas fa-clipboard-check"></i>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Year2 Section-->
        <section id="year1-section">
            <div class="container">
                <div class="set">
                    <div id="cs-2" class="tile">
                        <h2>Computer Science</h2>
                        <img src="https://img.icons8.com/wired/64/000000/computer.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="ce-2" class="tile">
                        <h2>Civil</h2>
                        <img src="https://img.icons8.com/wired/64/000000/design.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="me-2" class="tile">
                        <h2>Mechanical</h2>
                        <img src="https://img.icons8.com/dotty/80/000000/engineering.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="ee-2" class="tile">
                        <h2>Electrical</h2>
                        <img src="https://img.icons8.com/wired/64/000000/electrical.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="ec-2" class="tile">
                        <h2>Electronics</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/electronics.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="home-btn1" class="tile htile">
                        <h2>Top</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/circled-chevron-left.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
            </div>
        </section>

        <!--Year3 Section-->
        <section id="year2-section">
            <div class="container">
                <div class="set">
                    <div id="cs-3" class="tile">
                        <h2>Computer Science</h2>
                        <img src="https://img.icons8.com/wired/64/000000/computer.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="ce-3" class="tile">
                        <h2>Civil</h2>
                        <img src="https://img.icons8.com/wired/64/000000/design.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="me-3" class="tile">
                        <h2>Mechanical</h2>
                        <img src="https://img.icons8.com/dotty/80/000000/engineering.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="ee-3" class="tile">
                        <h2>Electrical</h2>
                        <img src="https://img.icons8.com/wired/64/000000/electrical.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="ec-3" class="tile">
                        <h2>Electronics</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/electronics.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="home-btn2" class="tile htile">
                        <h2>Top</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/circled-chevron-left.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
            </div>
        </section>
        <!--Year4 Section-->
        <section id="year3-section">
            <div class="container">
                <div class="set">
                    <div id="cs-4" class="tile">
                        <h2>Computer Science</h2>
                        <img src="https://img.icons8.com/wired/64/000000/computer.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="ce-4" class="tile">
                        <h2>Civil</h2>
                        <img src="https://img.icons8.com/wired/64/000000/design.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="me-4" class="tile">
                        <h2>Mechanical</h2>
                        <img src="https://img.icons8.com/dotty/80/000000/engineering.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="ee-4" class="tile">
                        <h2>Electrical</h2>
                        <img src="https://img.icons8.com/wired/64/000000/electrical.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                </div>
                <div class="set">
                    <div id="ec-4" class="tile">
                        <h2>Electronics</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/electronics.png"/>
                        <!--<i class="fas fa-shopping-cart"></i>-->
                    </div>
                    <div id="home-btn3" class="tile htile">
                        <h2>Top</h2>
                        <img src="https://img.icons8.com/carbon-copy/100/000000/circled-chevron-left.png"/>
                        <!--<i class="fas fa-clipboard-check"></i>-->
                    </div>
                </div>
            </div>
        </section>

</section>

<script src="/js/jquery.js"></script>
</body>