<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Animate CSS-->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
    <section id="Home">
    <!--Navbar-->
    <nav>
        <ul>
            <li class="logo">MPAC</li>
            <li class="items"><a href="/home">Home</a></li>
            <li class="items"><a href="/dashboard">Dashboard</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
            <li class="items"><a href="/login">Login</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <div class="info-container">
        <div class="text-content">
            <h1>Welcome User</h1>
            <p>A Platform for the Sale and Purchase of</p> 
            <p>Pre-owned Student Accessories</p>
            <div class="btns">
                <a class="start-btns" href="/login">Login</a>
                <a class="start-btns" href="/register">Register</a>
            </div>
        </div>
        <div class="image">
            <img src="/images/MPAC.png" alt="Logo">
        </div>
    </div>
    </section>
    <script src="/js/main.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>



