@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.container{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}*/


.container{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    margin-top: 20px;
    font-family: 'Alegreya', serif;
}


.prod-card{
    position: relative;
    height: 350px;
    width: 300px;
    overflow: hidden;
    margin: 20px;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.prod-card:hover{
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);;
}

.prod-card .image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 40%;
}
.prod-card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.prod-card:hover .image img{
    transform: scale(1.1);
}

.prod-card .card-content{
    height: 100%;
    width: 100%;
    position: relative;
}

.card-content .wrapper{
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: 0px;
    padding: 20px 25px;
    box-shadow:  -1px -1px 6px rgba(0,0,0.1);
}

.wrapper .title{
   font-size: 22px;
   font-weight: 500; 
}

.wrapper p{
    font-size: 17px;
    color: grey;
}

.wrapper .price{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #456ABD;
    font-size: 23px;
    font-weight: 600;
}

.wrapper .content{
    margin: 10px 0;
}

.wrapper .content .name{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
#btns{
    display: flex;
    justify-content: center;
    font-family: 'Noticia Text', serif;
}

#btns input{
    background: none;
    padding: 6px 16px;
    font-size: 15px;
    margin: 5px 20px;
    transition: 0.8s;
}

#btns .btn1{
    border: 1px solid #3498db;
    color: #3498db;
}

#btns .btn2{
    border: 1px solid #f6830f;
    color: #f6830f;
}

#btns .btn1:hover{
    color: #fff;
    background: #3498db;
}
#btns .btn2:hover{
    color: #fff;
    background: #f6830f;
}

@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #btns{
        display: flex;
        flex-direction: column;
    }
    .prod-card{
        height: 350px;
        width: 250px;
    }
}




/*
.prod-card{
 background: #ffffff;
 width: 300px;
 height: 400px;  
 margin: 20px;
 border: 2px solid #000000;
 border-radius: 5px;
 box-shadow: 2px 2px 2px #888888;
}

.prod-card:hover{
    transform: scale(1.01);
}

.prod-card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.prod-card img{
    width: 250px;
    height: 200px;
    margin: 10px 0px;
    border-radius: 5px;
}

.prod-card .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
}
.prod-card .btns input{
    width: 100px;
    height: 32px;
}
.prod-card .btns .purchase{
    background: #0c81f6;
    color: #ffffff;
    border: 1px solid #0c81f6;
    transition: 1s;
}

.prod-card .btns .cart{
    background: #f6830f;
    color: #ffffff;
    border: 1px solid  #f6830f;
    transition: 1s;
}
.prod-card .btns .r-cart{
    background: #ff0000;
    color: #ffffff;
    border: 1px solid  #ff0000;
    transition: 1s;
}

.prod-card .btns .purchase:hover{
    border: 2px solid #000000;
}
.prod-card .btns .cart:hover{
    border: 2px solid #000000;
}
*/