/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*background: url('home-page/images/ecommerce-3546296.jpg') no-repeat;*/
    height: 100vh;
    
    /*overflow: hidden; */
}
#mysection{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
    scroll-behavior: smooth;
}
nav{
    background: #151515;
    padding: 5px 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li{
    padding: 15px 0;
}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;
}
nav ul li.items::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.5s linear;
}

nav ul li.items:hover::after{
    opacity: 1;
    bottom: 10px;
}

nav ul li.logo{
    flex: 1;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 900;
    cursor: default;
    user-select: none;
}
nav ul li a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
}
nav ul li:hover a{
    color: #33ffff;
}
/*Media Queries*/
@media all and (max-width: 900px){
    body{
        overflow: auto;
    }
    nav{
        padding: 5px 30px;
    }
    nav ul li.logo{
        order: 1;
    }
    nav ul li.items{
        width: 100%;
        order: 3;
        display: none;
        transition: 0.5s;
    }
    nav ul li.items.show{
        display: block;
    }
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow: 0 0 5px #33ffff,
                    0 0 10px #66ffff;
    }
    nav ul li.items:hover::after{
        opacity: 0;
    }
    .toggle{
        order: 1;
        transition: 0.5s;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .bars{
        background: #ffffff ;
        display: inline-block;
        height: 3.5px;
        position: relative;
        width: 22px;
        transition: 0.5s;
    }
    .bars::before,.bars::after{
        background: #ffffff;
        content: '';
        display: inline-block;
        height: 3.5px;
        position: absolute;
        width: 22px;
        transition: 0.5s;
    }
    .bars::before{
        top: 6px;
    }
    .bars::after{
        top: -6px;
    }
    
    .toggle.close .bars{
        background: rgba(0, 0, 0, 0);
    }
    .toggle.close .bars::before{
        top: 0;
        transform: rotate(45deg);
    }
    .toggle.close .bars::after{
        top: 0;
        transform: rotate(135deg);
    }
}



/*tiles-sell section*/
#tiles-sell{
    background: url('/images/hi-res-wallpaper-12.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#tiles-sell .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#tiles-sell .container .set{
    display: flex;
}

#tiles-sell .container .tile{
    height: 260px;
    width: 250px;
    margin: 40px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#tiles-sell .container h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}

#tiles-sell .container .tile:hover{
    transform: scale(1.02);
}
@media (max-width: 768px){
    #tiles-sell .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #tiles-sell .container .set{
        display: flex;
    }
    #tiles-sell .container .tile{
        display: flex;
        height: 180px;
        width: 180px;
        margin: 10px;
    }
    #tiles-sell .container h2{
        font-size: 23px;
    }
    #tiles-sell .container img{
        height: 70px;
    }
}

/*Books Sell*/
#books-sell{
    background: url('/images/hi-res-wallpaper-12.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}



/*Year1 Section*/
#year1-section{
    background: url('/images/hi-res-wallpaper-12.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.container .set{
    display: flex;
    justify-content: space-between;
}
.container .tile{
    height: 260px;
    width: 250px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: #151515;
    transition: all 0.2s;
    margin: 20px;
}
.container .htile{
    background: #33ffff;
}
.container .htile img{
    rotate: 90deg;
}

.container h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}

.container .tile:hover{
    transform: scale(1.02);
}

@media (max-width: 768px){
    
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .container .tile{
        height: 200px;
        width: 200px;
        margin: 10px;
    }
    .container .set{
        display: flex;
    }
    .container .tile{
        display: flex;
        height: 180px;
        width: 180px;
        margin: 10px;
    }
    .container h2{
        font-size: 23px;
    }
    .container img{
        height: 70px;
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Year2 Section*/
#year2-section{
    display: none;
    background: url('/images/hi-res-wallpaper-12.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/*Year3 Section*/
#year3-section{
    display: none;
    background: url('/images/hi-res-wallpaper-12.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/*Year4 Section*/
#year4-section{
    display: none;
    background: url('/images/hi-res-wallpaper-12.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

