/*Font family*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('/images/ecommerce-3546296.jpg') no-repeat 
}
nav{
    /*background: #151515;*/
    background: transparent;
    padding: 5px 40px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li{
    padding: 15px 0;
}

nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;
}
nav ul li.items::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.5s linear;
}

nav ul li.items:hover::after{
    opacity: 1;
    bottom: 10px;
}

nav ul li.logo{
    flex: 1;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 900;
    cursor: default;
    user-select: none;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}
nav ul li:hover a{
    color: #33ffff;
}

/*Media Queries*/
@media all and (max-width: 900px){
    nav{
        padding: 5px 30px;
    }
    nav ul li.logo{
        order: 1;
    }
    nav ul li.items{
        width: 100%;
        order: 3;
        display: none;
        transition: 0.5s;
    }
    nav ul li.items.show{
        display: block;
    }
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow: 0 0 5px #33ffff,
                    0 0 10px #66ffff;
    }
    nav ul li.items:hover::after{
        opacity: 0;
    }
    .toggle{
        order: 1;
        transition: 0.5s;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .bars{
        background: #ffffff ;
        display: inline-block;
        height: 3.5px;
        position: relative;
        width: 22px;
        transition: 0.5s;
    }
    .bars::before,.bars::after{
        background: #ffffff;
        content: '';
        display: inline-block;
        height: 3.5px;
        position: absolute;
        width: 22px;
        transition: 0.5s;
    }
    .bars::before{
        top: 6px;
    }
    .bars::after{
        top: -6px;
    }
    
    .toggle.close .bars{
        background: rgba(0, 0, 0, 0);
    }
    .toggle.close .bars::before{
        top: 0;
        transform: rotate(45deg);
    }
    .toggle.close .bars::after{
        top: 0;
        transform: rotate(135deg);
    }
}



/*Showcase*/
#showcase{
    min-height: 200px;
    color: #ffffff;
    text-align: center;
}
#showcase h1{
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 10px;
}



/*Tiles Section*/
#tiles .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#tiles .container .btile{
    height: 260px;
    width: 250px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: #151515;
    transition: all 0.2s;
}
#tiles .container .stile{
    height: 260px;
    width: 250px;
    background: #ffffff;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#tiles .container h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}

#tiles .container .btile:hover{
    transform: scale(1.02);
}
#tiles .container .stile:hover{
    transform: scale(1.02);
}

#tiles .container .tile{
    height: 260px;
    width: 250px;
    background: #33ffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: #151515;
    transition: all 0.2s;
}


@media (max-width: 768px){
    #showcase{
        min-height: 100px;
    }
    #showcase h1{
        font-size: 40px;
    } 
    #tiles .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tiles .container .btile, #tiles .container .stile{
        height: 210px;
        width: 210px;
    }
    #tiles .container .tile{
        height: 210px;
        width: 210px;
    }
    #tiles .container .stile{
        margin-top: 30px;
    }
}



/*User Info Section*/
#user-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-info .container{
    color: #000000;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    background-color: #e8e8e8;
    border-radius: 20px;
}
#user-info .container .user-profile{
    align-items: center;
}
#user-info .container .user-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-info .container .u-items{
    margin: 40px;
}
#user-info .container .u-data{
    margin: 40px;
    font-style: italic;
}
#user-info .container h2{
    padding: 20px;
}

@media (max-width: 768px){
    #user-info .container{
        margin-top: 20px;
        width: 500px;
        height: 300px;
    }
    #user-info .container .user-profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #user-info .container .u-items{
        margin: 20px;
    }
    #user-info .container .u-data{
        margin: 0px;
    }
    #user-info .container h2{
        font-size: 20px;
        padding: 10px;
    }
    #user-info .container .user-data{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


/*Forms*/
#home-form{
    width: 100%;
    height: 100vh;
    background: url('/images/shopping-4360296_1920.jpg') no-repeat;
    overflow: auto;
    transition: 1s;
    scroll-behavior: smooth;
}

#form-body {
    font-family: 'Roboto Slab', serif;
    position: relative;
    top: 65%;
    left: 50%;
    width: 80%;
    max-height: min-content;
    padding: 40px;
    transform: translate(-50%, 5%);
    background: rgba(255, 255, 255, 0.767);
    box-sizing: 0;
    border-radius: 10px;
  }

#form-body h1{
   margin: 0 0 20px;
   padding: 0;
   color: rgb(0, 0, 0);
   text-align: center;
}

#form-body .input-box{
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: rgb(20, 20, 20);
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid rgb(119, 119, 119);
        outline: none;
        background: transparent;
      }
      
#form-body .input-file{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(20, 20, 20);
    margin-bottom: 30px;
    border: none;
}
#form-body .choose {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
#form-body .choose:hover{
    border: #000000;
    color: #33ffff;
    background: #000000;
}   
  
  #file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  }

#form-body .submit-div{
  display: flex;
  justify-content: center;
  align-items: center;
} 

#form-body .sub-button{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    font-weight: 800;
    border-radius: 10%;
  }

  #form-body .sub-button:hover{
      background-color: black;
      color: white;
} 


/* Product Cards*/
.prod-container {
    padding: 40px 0;
    width: 90%;
    margin-left: 5%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    transition: 2s;
  }
  
  .grid > article {
    border: 1px solid #ccc;
    background: #ffffff;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .grid > article:hover{
    transform: scale(1.02);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
  }
/*
  ul{
    font-size: 16px;
  }
*/

  #tiles .container .tile{
    height: 260px;
    width: 250px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: #151515;
    transition: all 0.2s;
    margin: 20px;
}

#tiles .container .tile:hover{
    transform: scale(1.02);
}



/*About Section*/
.about-section{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.inner-container{
    width: 60%;
    background-color: #fdfdfd;
    padding: 100px;
    position: relative;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner-container img{
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
  }

.text{
    font-size: 13px;
    color: #545454;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        /* padding: 100px 40px; */
    }
    .inner-container{
        width: 100%;
    }
}


/*Contact Us */
.non{
    padding-top: 10%;
  }
  .social{
    padding-top: 10%;
    display:flex;
    justify-content: space-evenly;
  }
  .icon,.nonicons{
    height:20px;
    width:20px;
    border-radius: 50%;
    transition: all .4s;
  }
  .icon:hover{
    /* cursor:pointer; */
    transform: rotate(360deg);
  }
  .insta,.twitter,.github,.linkedin{
    /* color:black; */
    padding:10px;  
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid black;
    transition: all .4s;
  }
  .insta{color:black;}
  .linkedin{color:blue;}
  .github{color:black;}
  .twitter{color:rgb(59, 202, 250);}
  .insta:hover,.linkedin:hover,.twitter:hover,.github:hover{
    background: grey;
    /* background: rgb(235, 235, 235); */
    /* background: black; */
    /* border:2px solid rgb(235, 235, 235); */
    /* border:2px solid black; */
    /* background: darkblue; */
    opacity:.9;
    box-shadow: 2px 2px 24px #000;
   transform: rotate(360deg);
  }
  .github:hover{
    color:black;
  }
  .wrapper{
    margin-top: 5%;
  }
  
  .wrapper h1{
    font-family: 'Roboto Slab',serif;
    color:#FFF;
    text-transform:uppercase;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: rgb(235, 235, 235);
    /* background: darkblue; */
    margin: 20px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #5c5b5b;  
    position: relative;
    opacity:0.9;
  }
  .team .team_member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 60px;
  }
  
  .team .team_member p.role{
    color: rgb(177, 177, 177);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
  }
  
  .team .team_member .team_img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 5px;
  }


  /*No Products*/
  .no-container{
      width: 90vw;
      margin: auto;
      height: 30vh;
  }


  .no-container .results{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      flex-direction: column;
  }

  .no-container .results h2{
      font-size: 40px;
      padding: 10vh 0 0 0;
  }

  .no-container .results p{
    font-size: 32px;
  }


  /*request*/

  .container-2{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .req-container{
      width: 75vw;
      height: 15vh;
      color: #0000;
      background-color: #fdfdfd;
      margin: 10px;
      padding: 10px;
      line-height: 1.2;
      display: flex;
  }
  .req-container .text{
      padding: 2px;
  }
  .req-container .text h3{
      font-size: 30px;
      font-weight: 800;
  }
  .req-container .text h4{
    font-size: 22px;
    font-weight: 700;
    padding: 5px;
}